@import url("./reset.css");
@import url("./color.css");
@import url("./utilities.css");
@import url("./components/index.css");

:root,
html,
body {
  background-color: var(--bg-sidebar);
  color: var(--content-dim-color);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  height: var(--height);
  height: var(--dynamic-height);

  .accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

/* Target the container, not the br */
[contenteditable]:empty::before,
[contenteditable]:has(br:only-child)::before {
  content: attr(data-placeholder);
  color: #aaa;
  position: absolute;
  pointer-events: none;
  font-style: italic;
}
