/*buttons*/
.mainNav__createBtn,
.mainContent__header .toolbar__menu,
.mainContent__header .toolbar__side-nav,
.task__favorite,
.task__menu {
  display: grid;
  width: fit-content;
  height: fit-content;
  border: none;
  cursor: pointer;
  border-radius: var(--circle);
  padding: var(--sm-btn-padding);
  place-content: center;
  background: none;
}

/*flex*/
.mainNav__toolbar,
.mainContent__header,
.task__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*flex left*/
.mainNav__title,
.mainContent__header .toolbar__left,
.task__left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*flags*/
.task__flags,
.project__flags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.25rem;
}
