#app {
  display: flex;
  align-items: center;
  height: 100dvh;

  main {
    margin: auto;

    #boards {
      display: flex;
      flex-direction: row;
      position: relative;
      gap: 2rem;

      #overlay {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #16171d42;
        z-index: 2;
        cursor: pointer;

        #overlayText {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 50px;
          color: white;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }

      .board {
        display: grid;
        /* Creates 10 columns and 10 rows, each 1 fraction of space */
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 2px; /* Optional spacing between cells */
        width: 500px; /* Adjust as needed */
        height: 500px;
        background-color: #333;

        .cell {
          border: 1px solid #cccccc69;
          border-radius: 2px;
          &[data-occupied="true"] {
            background-color: #2e86ab99;
            border: 2px solid #cccccc22;
          }
          &.missed {
            background-color: #2e86ab59;
            border: 2px solid #cccccc22;
            display: flex;
            justify-content: center;

            &::before {
              content: " ";
              display: block;
              text-align: center;
              background-color: #333;
              margin: auto;
              border-radius: 5px;
              width: 5px;
              height: 5px; /* Thickness of the X lines */
            }
          }
          &.success {
            background-color: #2e86ab59;
            border: 2px solid #cccccc22;
            overflow: hidden;

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 150%;
              height: 3px; /* Thickness of the X lines */
              background-color: #333; /* Color of the X */
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    .btnContainer {
      margin-top: 0.5rem;
      .btn {
        width: 5rem;
        text-wrap: nowrap;
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
