.projListContainer {
  width: 280px;
  height: var(--panel-height);
  height: var(--dynamic-panel-height);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-sidebar) transparent;

  .projectsHeader,
  .projectsList {
    padding: var(--padding-sidebar);
  }

  .projectsHeader {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--bg-sidebar);
    justify-content: space-between;

    h2 {
      color: var(--content-highlight-color);
    }

    .add-project-btn {
      display: grid;
      width: fit-content;
      height: fit-content;
      background: var(--bg-base-color);
      border: var(--border);
      cursor: pointer;
      border-radius: var(--circle);
      padding: var(--sm-btn-padding);
      place-content: center;
      color: var(--content-highlight-color);

      &:hover {
        background-color: var(--bg-sidebar);
      }
    }
  }

  .projectsList {
    /*remember to remove*/
    list-style-type: none;

    button {
      width: 100%;
      text-align: left;
      padding: 0.75rem;
      margin-bottom: 0.5rem;
      border: 1px solid transparent;
      background-color: var(--bg-sidebar);
      border-radius: 8px;
      cursor: pointer;

      p {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    /*button:hover {
      background: #eee;
    }*/
    button:active {
      transform: scale(0.98);
    }
    button.active {
      border: 1px solid #333;
      color: var(--content-highlight-color);
    }
  }
}
