.projectsView {
  contain: layout paint;
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-base-color);
  height: var(--panel-height);
  height: var(--dynamic-panel-height);
  border: var(--border);
  border-radius: 10px;
  margin: 0.5rem 0.5rem 1.5rem 0;

  @media only screen and (max-width: 600px) {
    border: none;
    border-radius: 0;
    margin: 0;
    height: var(--height);
    height: var(--dynamic-height);
  }

  .panelHeader {
    display: flex;
    color: var(--content-highlight-color);
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-sidebar);
    border-bottom: var(--border);

    .headerGroup {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      [aria-hidden="true"] {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }

    .projectKebab,
    #detailBackBtn {
      background: none;
      border: none;
      cursor: pointer;
      place-content: center;
      display: grid;
      width: fit-content;
      height: fit-content;
      border-radius: var(--circle);
      padding: var(--sm-btn-padding);

      &:hover {
        background-color: var(--bg-sidebar);
      }
    }

    #detailBackBtn {
      display: none;
    }

    .projectKebab {
      display: grid;
    }
  }

  .projectContent {
    padding: var(--padding-sidebar);
    color: var(--content-highlight-color);
  }
}
