.new-proj-dialog {
  min-width: 100%;
  min-height: 100%;
  place-content: center;
  background-color: var(--dialog-backdrop);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: none;
  padding: 1rem;

  form {
    background-color: var(--bg-base-color);
    box-shadow: var(--form-card-shadow);
    max-width: 450px;
    margin: auto;
    border: var(--border);
    padding: 20px;
    border-radius: 8px;

    * {
      display: block;
    }

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
      color: var(--content-dim-color);

      legend {
        color: var(--content-highlight-color);
      }

      * {
        margin-top: 1rem;
      }

      input,
      textarea {
        margin-top: 1.5rem;
        width: 100%;
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        border: none;
        outline: none;
        color: var(--content-highlight-color);
        background-color: var(--bg-base-color);
      }

      textarea {
        resize: none;
        word-break: break-word;
      }

      .formBtns {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        > * {
          border: none;
          background-color: var(--bg-base-color);
          border: var(--border);
          border-radius: 5px;
          padding: 0.25rem 0.5rem;
        }
        #newProjBtn {
          background-color: var(--new-btn-lg);
          color: var(--form-btn-x);
        }
        #newProjBtn:hover {
          background-color: var(--new-btn-dk);
        }
        #cancelProjBtn {
          color: var(--form-btn-y);
        }
        #cancelProjBtn:hover {
          background-color: var(--add-btn-hover-color-sec);
        }
      }
    }
  }
}
