@import url("./buttons.css");
@import url("./detail.css");
@import url("./form.css");

#app {
  display: flex;
  height: calc(100% - 50px);
  font-family: system-ui, sans-serif;
}

@media only screen and (max-width: 600px) {
  #app {
    display: block;
    height: auto;

    > * {
      width: auto;
    }
  }
}
