.mainNav {
  width: 260px;
  height: var(--panel-height);
  height: var(--dynamic-panel-height);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-sidebar) transparent;

  .mainNav__toolbar,
  .mainNav__list {
    padding: var(--padding-sidebar);
  }

  .mainNav__toolbar {
    position: sticky;
    top: 0;
    background-color: var(--bg-sidebar);

    .mainNav__title {
      color: var(--content-highlight-color);
      font-size: 0.8rem;
      font-weight: 500;
    }

    .mainNav__createBtn {
      background: var(--add-btn-color-sec-big);
      border: var(--border);
      color: var(--content-highlight-color);
      &:hover {
        background-color: var(--add-btn-hover-color-sec-big);
      }
    }
  }

  .mainNav__list {
    /*remember to remove*/
    list-style-type: none;

    button {
      width: 100%;
      text-align: left;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.25rem;
      border: 1px solid transparent;
      background-color: var(--bg-sidebar);
      border-radius: 8px;
      cursor: pointer;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h3 {
        font-size: 0.75rem;
        font-weight: 400;
      }

      &:hover {
        background-color: var(--btn-hover-color);
      }
    }

    button:active {
      transform: scale(0.98);
    }
    button.active {
      background-color: var(--btn-active-color);
      color: var(--content-highlight-color);
    }
  }
}

.drawer-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  /* Modern backdrop blur effects */
  backdrop-filter: blur(1px);

  /* Initially hidden hidden state */
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-speed) ease-in-out;
}
