.workspace__task {
  margin-top: 2rem;

  .tasks__mainHeader {
    margin-bottom: 0.75rem;
    padding: 0 0.25rem;

    p {
      font-size: clamp(0.75rem, 0.7rem + 0.3vw, 0.9rem);
    }

    .mainHeader__menu {
      color: var(--content-dimmer-color);
      .material-symbols-outlined {
        font-weight: 900;
      }
      &:hover {
        color: var(--content-highlight-color);
      }
    }
  }

  > article {
    border: var(--border);
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;

    .task__favorite,
    .task__menu {
      &:hover {
        background-color: var(--add-btn-hover-color-sec);
        color: var(--content-highlight-color);
      }
    }

    .task__header {
      gap: 0.5rem;
      margin-bottom: 1rem;
      border: none;

      .task__left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        p {
          font-size: clamp(0.65rem, 0.6rem + 0.3vw, 0.8rem);
        }

        .separator {
          display: grid;
          place-content: center;
          font-size: clamp(0.45rem, 0.4rem + 0.3vw, 0.6rem);
        }
      }
    }

    /* ==================================== */
    /* the following numbers must be updated together
    font-size:1rem;

    transform: scale(0.9);
    width: calc(100% / 0.9);

    transform: scale(0.8);
    width: calc(100% / 0.8);

    max-height: calc(1rem * 1.5(this should be updated along with line height));
    */
    .task__title,
    .task__overview {
      margin-bottom: 0.35rem;
      outline: none;
      border: none;
      transform-origin: top left;
      font-size: 1rem;
    }

    .task__title {
      color: var(--content-highlight-color);
      font-weight: 380;
      transform: scale(var(--title-responsive-scale));
      width: calc(100% / var(--title-responsive-scale));
    }
    .task__overview {
      color: var(--content-dim-color);
      min-width: 0;
      transform: scale(var(--overview-responsive-scale));
      width: calc(100% / var(--overview-responsive-scale));
    }

    /* chrome bug */
    .task__title:empty,
    .task__title:has(br:only-child) {
      height: calc(1rem * 1.5);
    }

    .task__overview:empty,
    .task__overview:has(br:only-child) {
      height: calc(1rem * 1.5);
    }

    /* ====================================== */

    .task__flags {
      margin-top: 1rem;

      button {
        border: none;
        padding: 0rem 0.35rem;

        &.active {
          color: var(--content-highlight-color);
        }
      }
    }
  }
}
