.workspace__task {
  margin-top: 2rem;

  > article {
    border: var(--border);
    padding: 1rem;
    margin-bottom: 1rem;

    .task__favorite,
    .task__menu {
      &:hover {
        background-color: var(--add-btn-color-sec);
        color: var(--content-highlight-color);
      }
    }

    .task__header {
      gap: 0.5rem;
      margin-bottom: 1rem;
      border: none;

      .task__left {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        p {
          font-size: 0.75rem;
        }

        .separator {
          display: grid;
          place-content: center;
          font-size: 0.5rem;
        }
      }
    }

    .task__title,
    .task__overview {
      margin-bottom: 0.35rem;
      outline: none;
      border: none;
    }

    .task__title {
      color: var(--content-highlight-color);
      font-size: 0.9rem;
      font-weight: 380;
    }
    .task__overview {
      color: var(--content-dim-color);
      font-size: 0.8rem;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .task__flags {
      margin-top: 1rem;

      button {
        border: none;
        padding: 0rem 0.35rem;
        background: none;

        &:hover {
          color: var(--content-highlight-color);
          background-color: none;
        }
      }
    }
  }
}
